.news-aggregator {
    margin-top: 50px;
    }
    
    .list-group-item {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dee2e6;
    }
    
    .list-group-item:last-child {
    margin-bottom: 0;
    border-bottom: none;
    }
    
    .list-group-item a {
    color: #007bff;
    text-decoration: none;
    }
    
    .list-group-item a:hover {
    text-decoration: underline;
    }
    
    .form-group {
    margin-bottom: 20px;
    }
    
    .form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    }
    
    .form-group select {
    width: 100%;
    }
    .list-group {
        max-height: 80vh   ; /* set the max height of the list group to enable scrolling */
        overflow-y: auto; /* enable vertical scrolling for the list group */
        border: 1px solid black;
      }
      
      .form-group {
        position: sticky; /* make the form group sticky */
        top: 10px; /* set the top position for the sticky form group */
        background-color: white; /* set the background color of the sticky form group to white */
        z-index: 1; /* set the z-index to ensure that the sticky form group appears above the list group */
      }
      .bottomLoad {
        position: sticky; /* make the form group sticky */
        top: 10px; /* set the top position for the sticky form group */
        background-color: white; /* set the background color of the sticky form group to white */
        z-index: 1; /* set the z-index to ensure that the sticky form group appears above the list group */
      }
      